body{
font-family:Arial;
margin:0;
background:#f4f6f8;
transition:.3s;
}

header{
background:#2c3e50;
color:white;
padding:15px;
text-align:center;
}

nav{
background:#34495e;
padding:10px;
text-align:center;
}

nav button{
margin:5px;
padding:10px;
border:none;
border-radius:5px;
cursor:pointer;
}

main{
padding:20px;
background:white;
max-width:900px;
margin:auto;
border-radius:10px;
}

.login-box{
width:300px;
margin:100px auto;
padding:20px;
background:white;
border-radius:10px;
box-shadow:0 0 10px #ccc;
text-align:center;
}

.login-box input{
width:90%;
padding:10px;
margin:10px 0;
}

.dark{
background:#121212;
color:white;
}

.dark main{
background:#1f1f1f;
}

.hint{
font-size:12px;
color:gray;
}
